version: 2
updates:
    -   package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: "weekly"
    -   package-ecosystem: gradle
        directory: "/"
        schedule:
            interval: daily
            time: "03:00"
            timezone: Europe/Paris
        rebase-strategy: "disabled"
        open-pull-requests-limit: 20
        labels:
            - "3. to review"
            - "dependencies"
