<!--
  ~ Nextcloud Talk application
  ~
  ~ @author Mario Danic
  ~ @author Tim Krüger
  ~ Copyright (C) 2022 Tim Krüger <t@timkrueger.me>
  ~ Copyright (C) 2017-2019 Mario Danic <mario@lovelyhq.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.nextcloud.talk">

    <application
        android:name=".application.NextcloudTalkApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nc_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:replace="label, icon, theme, name, allowBackup"
        tools:ignore="UnusedAttribute, ExportedService">

        <service
            android:name=".services.unifiedpush.ChatAndCallMessagingService"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_JOB_SERVICE" />

      <receiver
            android:name=".utils.unifiedpush.UnifiedPushMessagingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE"/>
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED"/>
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT"/>
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
