name: "Assemble"

on:
  pull_request:
    branches: [ master, stable-* ]

jobs:
  flavor:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flavor: [ Generic, Gplay ]
    steps:
      -   uses: actions/checkout@v3
      -   name: set up JDK 8
          uses: actions/setup-java@v3
          with:
            distribution: "temurin"
            java-version: 8.0
      -   name: Build ${{ matrix.flavor }}
          run: |
            echo "org.gradle.jvmargs=-Xmx2g -XX:MaxMetaspaceSize=512m -XX:+HeapDumpOnOutOfMemoryError" >> gradle.properties
            ./gradlew assemble${{ matrix.flavor }}
      -   name: Archive apk
          uses: actions/upload-artifact@v2
          if: ${{ always() }}
          with:
              name: Nextcloud-APK
              path: app/build/outputs/apk/**/**/*.apk
              retention-days: 5
